.homeComponent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.homeTop {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: #8a817c;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.leftFetures {
  width: 160px;
  display: flex;
  justify-content: space-around;
}

.homeSerarchButton {
  width: 60px;
  height: 30px;
  color: lightgrey;
  background-color: #463f3a;
  font-family: 'Humanbumsuk';
  font-size: 18px;
}

.homeCreateButton {
  width: 60px;
  height: 30px;
  color: lightgrey;
  background-color: #463f3a;
  font-family: 'Humanbumsuk';
  font-size: 18px;
}

.homeDeleteButton {
  width: 60px;
  height: 30px;
  color: grey;
  background-color: #e0afa0;
  font-family: 'Humanbumsuk';
  font-size: 18px;
}

.homeBody {
  background-color: #bcb8b1;
  height: 600px;
  overflow-y: auto;
}

.memoContent {
  display: flex;
  height: 50px;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: #ffff7a;
  align-items: center;
}

.memoContentLeft {
  display: flex;
  align-items: center;
}

.memoContentLeft input {
  width: 15px;
  height: 15px;
}

.memoContentRight {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: flex-start;
}

.memotitle {
  display: flex;
  justify-content: flex-start;
  font-family: 'Humanbumsuk';
  font-size: 24px;
  font-weight: 500;
}

.memoDate {
  display: flex;
  justify-content: flex-start;
  font-family: 'Humanbumsuk';
  color: grey;
  font-size: 15px;
}
