.createComponent {
  background-color: #bcb8b1;
  width: 100%;
  height: 650px;
}

.createDelecious {
  font-family: 'Humanbumsuk';
  margin-top: 10px;
  font-size: 20px;
  color: #463f3a;
  font-weight: 600;
}

.createBody {
  margin: 10px 10px;
}

.titleHeader {
  font-family: 'Humanbumsuk';
  font-size: 20px;
}

.createBodyHeader {
  display: flex;
  width: 100%;
}

.createBodyHeader input {
  margin-left: 10px;
  width: 87%;
  border: none;
  background-color: #bcb8b1;
  border-bottom: 1px solid;
  font-family: 'Humanbumsuk';
  font-size: 20px;
}

.createContent {
  padding-left: 10px;
  border: none;
  margin-top: 10px;
  height: 250px;
  background-color: #8a817c;
  width: 95%;
  /* text-align: left; */
  text-align: left;
  vertical-align: text-top;
  font-family: 'Humanbumsuk';
  font-size: 20px;
}

.createContent::placeholder {
  color: black;
}

.createStars {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.startTitle {
  font-family: 'Humanbumsuk';
  font-size: 20px;
  margin-right: 50px;
}

.createLocation {
  margin-top: 10px;
  display: flex;
}

.createLocationButton {
  font-family: 'Humanbumsuk';
  /* font-size: 20px; */
  width: 70px;
  height: 30px;
  font-size: 18px;
  color: lightgrey;
  background-color: #463f3a;
}

.createLocationText {
  width: 80%;
  border-bottom: 1px solid;
  font-family: 'Humanbumsuk';
  font-size: 19px;
}

.createLabelInput {
  width: 70px;
  height: 30px;
  background-color: #463f3a;
  color: lightgrey;
  font-family: 'Humanbumsuk';
  display: flex;
  align-items: center;
  justify-content: center;
}

.createInput {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.createImg {
  margin-left: 20px;
  width: 50px;
  height: 50px;
}

.createBottom {
  margin-top: 50px;
}

.createCancelButton {
  margin-right: 20px;
  width: 50px;
  height: 30px;
  background: #e0afa0;
  font-family: 'Humanbumsuk';
  color: black;
  font-size: 19px;
}

.createSaveButton {
  width: 50px;
  height: 30px;
  background-color: #463f3a;
  font-family: 'Humanbumsuk';
  font-size: 19px;
  color: lightgrey;
}
