/* @font-face {
  font-family: 'Humanbumsuk';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
} */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}

.header {
  /* font-family: 'Humanbumsuk'; */
  font-family: 'Humanbumsuk';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #463f3a;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footerCopyRight {
  margin-top: 15px;
  font-family: 'humanbumsuk';
  color: grey;
}

.headerTitle {
  position: absolute;
}

.headerIcon {
  position: fixed;
  left: 10px;
  display: flex;
  justify-items: flex-start;
}
